@charset "utf-8";

/* store layout */

.product::after{
    content: "";
    clear: both;
    display: block;
}

.product{
	display: flex;
	width: 100%;
	border-bottom-style: solid;
	border-width: thin;
	border-color: black;
}

.productColumn{
	width: 33.33%;
	flex-direction: column;
}

.productImage{
	width: 50%;
}

.product p{
	margin: 10px;
}

div{
	padding-top: 5px;
}

@media all and (max-width: 480px){
	section{
	display: flex;
	flex-direction: column;
	border: solid;
	}

	.productImage{
		width: 100%;
	}
	
	.item{
	margin: auto;
	width: 100%;
}
}
